/* Admin CSS */


header {
 
}

.top {
	padding-top: 50px;
}

.logo {
	color: #FAA732 !important;
}
.icon {
 
}

.right {
	text-align: right;
}

.error-message {
	margin-left: 10px;
	display: inline-block;
}

.input {
	margin-bottom: 5px;
}